.anchortag
{
  text-decoration: none;
  color: white;
  
}

.non-selectable {
  user-select: none;
}

.nav-link{
  color: rgb(255, 255, 255) !important;
  font-weight: 600 !important;
  font-size: small !important;
}
.nav-link:hover
{
  color: #0c233b !important;
}
.nav-item
{
  padding-right: 5px;
  border-right: 1px solid white;
}

.nav-item:hover
{
  transition: 0.3ms;
  background-color: white;
  color: #0c233b !important;
  border-right: 1px solid white;
}

.heading-here
{
  font-weight: bold;
  font-size: large !important;
}

@media(max-width:552px)
{
  .adjusting-img
  {
    height: 220px; 
    width: auto;
  }
}

.adjusting-img
{
  height: 300px;
  width: auto;
}

@media(max-width:552px)
{
  .adjusting-img-logo
  {
    height: 200px !important; 
    width: auto !important;
  }
}

.adjusting-img-logo
{
  height: 300px;
  width: auto;
}

.login
{
  background-color: white;
  color: #0c233b !important;
}